body {
    color: black;
    background-color: rgb(141, 141, 141);
    background-attachment: fixed;
    background-image: url('./../img/df-min.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

#bloc-b2 {
    display: flex;
    color: white;
    background-color: orangered;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    text-align: center;
    flex-direction: column;
    margin: auto;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    margin-top: 50px;
    z-index: 2;
}

#bloc-b2 p,
#bloc-b2 h1 {
    margin: 0;
    padding: 6px;
}

.p1 {
    font-size: 18px; /* Taille de police plus petite pour le premier paragraphe */
}

.p2 {
    font-size: 12px; /* Taille de police plus grande pour le deuxième paragraphe */
}

.img1 {
    position: absolute;
    left: 420px;
    top: 200px;
    width: 1100px;
    height: 650px;
}

.container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 100px;
  }
  
  .container>* {
    border: 1px solid black;
    background-color: white;
    margin: 0 10px;
    border-radius: 20px;
    padding: 10px;
    width: 225px;
  }

/* Styles pour le pied de page */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Définir la largeur à 100% */
}

/* Style pour le texte "A propos de nous" dans le pied de page */
footer p {
    margin: 0;
    font-size: 10px;
}
